.btn {
  display: block;
  border-radius: var(--border-radius);
  padding: 0.6em 1.5em;
  color: var(--bg-dark);
  background-color: var(--font);
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--bg);
  }
}