.spinner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1/1;

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    border: 0.4rem solid #ddd;
    border-radius: 50%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    border-bottom-color: var(--warning);
    border-left-color: var(--warning);
    border-radius: 50%;
    animation: spinner 1.2s linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
