@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

.list-separator {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: 'Ms Madi', cursive;
  width: 100%;

  &::before {
    content: '';
    position: absolute;
    width: 95%;
    height: 1px;
    background-color: var(--font);
    z-index: -2;
  }

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 12ch;
    background-color: var(--bg-dark);
    z-index: -1;
  }
}